/* header styles */
body {margin: 0;background: #000;font-family: Arial, sans-serif;}
header {background-color: #000000;padding: 10px 0;text-align: center; }
h1.logo a {text-decoration: none;}
h2.intro-text { color: rgb(139, 139, 139);}
nav ul {list-style: none;padding: 0;margin: 0;display: flex;justify-content: center;}
nav ul li {margin: 0 15px;}
nav ul li a {text-decoration: none;color: #30dd00;font-weight: bold;}